<div id="<%= dom_id question_vote %>">
  <p>
    <strong>Vote type:</strong>
    <%= question_vote.vote_type %>
  </p>

  <p>
    <strong>Question:</strong>
    <%= question_vote.question_id %>
  </p>

</div>
