<h1>Editing answer vote</h1>

<%= render "form", answer_vote: @answer_vote %>

<br>

<div>
  <%= link_to "Show this answer vote", @answer_vote %> |
  <%= link_to "Back to answer votes", answer_votes_path %>
</div>
